body {
    margin: 0 auto;
    background-color: cornsilk;
    transition: all .5s ease;
}

.decoration {
  background-color: ivory;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 20px double pink;
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 93vw;
  min-height: 90vh;
}

.image1 {
    display: block;
    position: absolute;
    top: 45vh;
    left: 45vw;
}

.image2 {
    display: none;
    position: absolute;
    top: none;
    left: none;
}

.image3 {
    display: none;
    position: absolute;
    top: none;
    left: none;
}

.image4 {
    display: none;
    position: absolute;
    top: none;
    left: none;
}

.image5 {
    display: none;
    position: absolute;
    top: none;
    left: none;
}

.image6 {
    display: none;
    position: absolute;
    top: 45vh;
    left: 45vw;
}
