body {

}

.main {
  margin: 0 auto;
  width: 700px;
  margin-bottom: 50px;
}

.topblock {
  float: left;
  height: 0px;
  width: 200px;
}

.titleblock{
    transform: rotate(-90deg);
    width: 800px;
    height: 825px;
}

h1, h2 {
  margin: 0;
  padding: 0px;
  font-weight: lighter;
  font-family: serif;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
}

.sub1, .sub2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.sub2 {
  font-size: 30px;
  margin-top: 10px;
}

.body {
  margin: 0 auto;
  width: 440px;
  font-family: sans-serif;
  float: right;
}

.side1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 25px;
}

.side2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
