* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* div {
  float: left;
} */

.topboard {
  width: 550px;
}

.botboard {
   width: 550px;
}

.sideboard{
    position: absolute;
    left: 515px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: green;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.vertrec {
    width: 100px;
    height: 405px;
    background-color: green;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.horirec {
    width: 405px;
    height: 200px;
    background-color: green;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
