.body {
  background-color: #f0ead6;
  box-sizing: border-box;
}

.title {
    font-family: 'Tangerine', cursive;
    color: #c72026;
    font-size: 100pt;
    padding-top: 20px;
    text-align: center;
}

.chocobox {
  background-color: #c72026;
  margin: 0 auto;
  margin-top: 50px;
  width: 940px;
  height: 800px;
  padding: 75px;
}

.foil {
  background-color: #e5d598;
  padding: 30px;
  border-style: solid;
  border-width: 25px;
  height: 700px;
  border-color: #f8f6ed;
}

/* chocolate stuff */
.dark {
  background-color: #441e15;
}

.milk {
  background-color: #7e584a;
}
.cream {
  background-color: #FFFDD0;
}
.caramel {
  background-color: #a55b3d;
}


.set {
  position: relative;
}
.chocoround {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /*margin: 15px;*/
}

.chocoroundborder {
  position: absolute;
  top:0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-style: solid;
  border-width: 15px;
  border-color: white; /* #e5d598 */

}

.chocosquare {
  position: absolute;
  top:0;
  left: 0;
  border-radius: 10%;
  height: 150px;
  width: 250px;
  /*margin: 15px;*/
}


.vertstripe {
  position: absolute;
  width: 15px;
  /*float: left;*/
  /*margin-left: 15px;*/
}