body {
    background-color: #1a2538;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 0 auto;
    margin-top: 50px;
    border-style: double;
    border-width: 15px;
    border-color: firebrick;
    border-radius: 7%;
    width: 600px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    background-color: #a4aaad;
}

.mainborder {
    background-color: firebrick;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 0 auto;
    width: 800px;
    padding: 10px;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 72pt;
    color: #510909;
    text-align: center;
    margin: 0 auto;
   
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 30pt;
    color: #510909;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 16pt;
}

a, a:visited {
    font-family: 'Cinzel', serif;
    font-weight: 900;
    color: firebrick;
}

    a:active, a:hover {
        font-family: 'Cinzel', serif;
        font-weight: 900;
        color: crimson;
    }