body {
    background-color: #ECE0C4;
    color: #1B1403;
}

.main {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
    background-color: #998f78;
    padding: 10px 30px 10px 30px;
    border: 10px double #1B1403;
}

.titleblock {
    width: 803px;
}

.title1{
    float: left;
}

.title2{
    padding-top: 175px;
    float: right;
}

.titlepic {
    width: 400px;
    border: 7px solid #1B1403;
}

h1, h2 {
  margin: 0;
  padding: 0px;
  font-weight: lighter;
  font-family: 'Vollkorn', serif;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

.headersub{
    font-size: 24px;
    font-family: 'Cabin', sans-serif;
}

.sub1, .sub2 {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.sub2 {
  font-size: 30px;
  margin-top: 10px;
}

.body {
  margin: 0 auto;
  padding-top: 220px;
  width: 440px;
  font-family: 'Cabin', sans-serif;
}

.side1, .side2 {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-align: right;
}

.side1 { 
  font-size: 24px;
  margin-top: -15px;
}

.side2 {
  font-size: 18px;
}
