body {

}

.main {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, h3 {
  font-family: Mukta, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  font-weight: 300;
}

h1 {
  font-size: 80px;
  height: 100px;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 40px;
  text-transform: none;
  height: 45px;
}

h3 {
  font-size: 56px;
  height: 75px;
}

.sub2, .sub1 {
  font-family: Oswald, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.sub2 {
  font-weight: 700;
  font-size: 36px;
}



.body {
  margin: 0 auto;
  width: 600px;
  font-family: Mukta, sans-serif;
}

.side1 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.side2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
