body {
    margin: 0 auto;
    background-color: #5d4c39;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
}

.topbanner, .bottombanner {
    max-width: 100vw;
    height: auto;
    opacity: 0.5;
    border-bottom: double 10px black;
}

.bottombanner {
    margin-top: 20px;
    border-top: double 10px black;
    border-bottom: none;
    margin-bottom: 0px;
}

.shiggy {
    z-index: 10;
    background-color: #d3c09e;
    width: 80vw;
    margin: 0 auto;
    border: groove 10px #45331f;
    /* height: 20px;
    -webkit-transition: height 2s, background-color 2s, opacity 2s;
    transition: height 2s, background-color 2s, opacity 2s;
    opacity: 0; */
}

/* .shiggy:hover{
    background-color: #d3c09e;
    height: auto;
    opacity: 1;
} */

/* .hoverhere {
    z-index: 0;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    color: #b7af9d;
} */

/*h1 {
    margin: 0 auto;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 5em;
    font-family: 'Sorts Mill Goudy', serif;
} */

.introtext {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 50px;
    width: 600px;
}

.section {
    border-bottom: groove 10px #45331f;
    margin: 0 auto;
    max-width: 90vw;
    padding-bottom: 25px;
}

.section img {
    padding: 10px;
    float: left;
    max-width: 96%;
}

.section .section{
    max-width: 60vw;
    border: none;
}

.sectionheader {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #a5845e;
    font-family: 'Sorts Mill Goudy', serif;
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
}

.headtitle {
    padding-top: 10%;
    position: absolute;
    text-align: center;
    width: 100vw;
    text-transform: uppercase;
    font-size: 6em;
    font-family: 'Sorts Mill Goudy', serif;
    z-index: 10;
    text-shadow: 
        -5px -5px 0 #d3c09e, 
        1px -1px 0 #d3c09e, 
        -1px 1px 0 #d3c09e, 
        1px 1px 0 #d3c09e;
}

.characters img {
    max-width: 45%;
    padding-right: 10px;
    padding-left: 0px;
   margin-bottom: 20px;
   float: none;
}

.beasts img {
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.map img {
    float: none;
}

.map p {
    max-width: 800px;
}

.horse img {
    float: none;
}

.horse p {
    max-width: 800px;
}

@media only screen and (max-width: 1024px) {
  .introtext {
    max-width: 400px;
    padding-top: 40px;
  }
  .section img {
      padding: 10px;
  }
  .headtitle {
        font-size: 72px;
    }
  .characters img {
      float: left;
  }

}

@media only screen and (max-width: 768px) {
  .introtext {
    max-width: 350px;
    padding-top: 20px;
  }
  .headtitle {
      font-size: 48px;
  }
  p {
    font-size: 16px;
    padding: 0px;
  }
  .titlething {
    font-size: 36px;
  }
  .section img {
    float: none;
    margin: 0 auto;
    padding: 5px;
  }

  .characters img {
    max-width: 95%;
  }

  .beasts img {
      max-width: 95%;
  }

  .sectionheader {
      font-size: 36px;
  }
}

@media only screen and (max-width: 320px) {
  .introtext {
    padding-top: 20px;
    max-width: 200px;
  }
  /*h1 {
      font-size: 36px;
  }*/
  .headtitle {
    font-size: 2em;
  }
  p {
    font-size: 12px;
  }
  .section img {
    float: none;
    margin: 0 auto;
    padding: 5px;
  }
  .sectionheader {
      font-size: 24px;
  }
  .section { 
    padding-bottom: 10px;
    max-width: 95vw;
  }
  .characters img {
    max-width: 95%;
  }
}
