body {
}

.main {
  margin: 0 auto;
  width: 735px;
  height: 1430px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  border-top: 10px double black;
  border-bottom: 10px double black;
}

h1, h2 {
  margin: 0;
  padding: 0px;
  font-weight: lighter;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

.sub1, .sub2 {
  text-transform: uppercase;
  font-size: 24px;
}

.sub2 {
  font-size: 30px;
  margin-top: 10px;
}

.body {
  margin: 0 auto;
  width: 440px;
  float: left;
}

.side1 {
  text-transform: uppercase;
  font-size: 18px;
}

.side2 {
  text-transform: uppercase;
  font-size: 16px;
}
